@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/public-sans-v14-latin-regular.ttf);
}
@font-face {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/public-sans-v14-latin-700.ttf);
}
@font-face {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/dm-serif-display-v10-latin-regular.ttf);
}